<!DOCTYPE html>
<html ng-app="angularNotificationsTest">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div ng-controller="notificationController as notifications">
        {{notifications.hello}}<br />
        <button class="btn btn-success" ng-click="notifications.showSuccessNotification()">
        	show success</button>
        <button class="btn btn-info" ng-click="notifications.showInfoNotification()">
        	show info</button>
        <button class="btn btn-warning" ng-click="notifications.showWarningNotification()">
        	show warning</button>
        <button class="btn btn-danger" ng-click="notifications.showErrorNotification()">
        	show error</button>
        
        
    </div>
    
    <script type="text/javascript" src='../bower_components/angular/angular.min.js'></script>
    <script type="text/javascript" src='../src/scripts/angular-notifications.js'></script>
    <script type="text/javascript" src='../src/scripts/app.js'></script>

</body>
</html>